/* =========================================
============ TABLE OF CONTENTS: ============
* Responsive Archive File
* Responsive Author File
* Responsive Footer Widget Default File
* Responsive Footer Navigasi File
* Responsive Home File
* Responsive Header Navigasi Primary 1
* Responsive Index File
* Responsive Page File
* Responsive Search File
* Responsive Sidebar Blog Default File
* Responsive Single File
========================================= */
/* =================== Responsive Archive File =================== */
.main-archive {
    display: block;
}

.container-archive {
    width: 100%;
    padding: 2% 3%;
}

/* =================== Responsive Author File =================== */
.main-author {
    display: block;
}

.container-author {
    width: 100%;
    padding: 2% 3%;
}

/* =================== Responsive Footer Widget Default File =================== */
#footer .box-widget {
    padding: 0 3%;
}

#footer .footer-widgets {
    width: 48%;
}

/* =================== Responsive Footer Navigasi File =================== */
#footer .box-navigasi-footer {
    padding: 0 3%;
}

/* =================== Responsive Header Navigasi Primary 1 =================== */
.primary1 .box-menu {
    padding: 10px 3%;
}

/* Logo Nav Desktop  */
.primary1 .logo-nav-desktop {
    display: none;
}

/* Toggle Burger  */
.primary1 .toggle-burger-mobile {
    display: block;
    padding: 0;
}

.primary1 .toggle-burger-mobile i {
    padding: 8px 10px;
    width: 35px;
    height: 35px;
    border: 2px solid #dedede;
    color: #dedede;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Menus */
.primary1 .box-menu>ul {
    width: 100%;
    margin: 0;
    padding: 0 2%;
    display: none;
}

.primary1 .show-box-menu>ul {
    display: block;
    position: absolute;
    left: 0;
    top: 92px;
    background: #092228;
    z-index: 999;
    padding-bottom: 15px;
}

.primary1 .box-menu ul li {
    display: block;
    margin-left: 0;
}

.primary1 .box-menu>ul>li>a {
    padding: 15px 10px;
}

.primary1 .box-menu .sub-menu {
    position: relative;
    box-shadow: none;
    padding: 7px 0;
    padding-left: 0;
}

.primary1 .box-menu .sub-menu .sub-menu {
    left: 0;
    top: 0;
    padding-bottom: 0;
}

.primary1 .box-menu .sub-menu li {
    padding-left: 30px;
}

.primary1 .box-menu .sub-menu li .sub-menu li {
    padding-left: 30px;
}

.primary1 .box-menu .sub-menu li .sub-menu li .sub-menu li {
    padding-left: 0;
}

.primary1 .box-menu .sub-menu li a {
    color: #fff;
    border-bottom: 0;
    padding: 6px 12px;
}

.primary1 .box-menu li:hover a {
    color: #fff;
}

.primary1 .box-menu .menu-item-has-children>.sub-menu {
    display: block;
    overflow: visible;
    visibility: visible;
    opacity: 1;
    display: block;
}

.primary1 .box-menu .menu-item-has-children>a::after {
    display: none;
}

.primary1 .box-menu .menu-item-has-children .sub-btn {
    display: none;
}

.primary1 .box-menu .menu-item-has-children .sub-btn i {
    font-size: 22px;
}

.primary1 .box-menu>ul>.menu-item-has-children>.sub-menu::after {
    display: none;
}

/* Logo Nav Mobile */
.primary1 .logo-nav-mobile {
    display: block;
}

/* Toggle Search */
.primary1 .toggle-icon-search {
    right: 0;
}

/* Width popup search */
.open-popup-search .primary1  .container-search-full form .box-search-btn {
    width: 90%;
}

.primary1 .container-search-full form .box-search-close {
    right: 75px;
}

/* =================== Responsive Home File =================== */
.main-home {
    display: block;
}

.container-home {
    width: 100%;
    padding: 2% 3%;
}

/* =================== Responsive Index File =================== */
.main-index {
    display: block;
}

.container-index {
    width: 100%;
    padding: 2% 3%;
}

/* =================== Responsive Page File =================== */
.main-page .container-page {
    padding: 3%
}

.main-page-custome-left,
.main-page-custome-right {
    display: block;
}

.container-page-custome-left,
.container-page-custome-right {
    width: 100%;
    padding: 2% 3%;
}

/* =================== Responsive Search File =================== */
.main-search {
    display: block;
}

.container-search {
    width: 100%;
    padding: 2% 3%;
}

/* =================== Responsive Sidebar Blog Default File =================== */
.page-template-page-left .sidebar-default,
.page-template-page-right .sidebar-default,
.sidebar-default {
    width: 100%;
    padding: 2% 3%;
}

.sidebar-default .container-widgets {
    display: flex;
    flex-wrap: wrap;
}

.sidebar-default section {
    width: 48%;
}

.sidebar-default section:nth-child(even) {
    margin-left: 3%;
}

/* =================== Responsive Single File =================== */
.main-single {
    display: block;
}

.container-single {
    width: 100%;
    padding: 2% 3%;
}